/* Useful info:

Logo Purple: rgb(92, 17, 136)

*/

body, html {
	height: 100%;

	/* The background image used */
	background-image: url("assets/img/bg.png");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 5em;
}

.nav-item{
	font-size: 1.25em;
	padding: 0em 1em;
}

.navbar-brand{
	font-size: 1.5em;
	padding-left: 1em;
}

.badge.rounded-pill.bg-secondary{
	padding: 1em 1.5em;
	margin-top: 1em;
	background-color: rgb(92, 17, 136) !important; /*"!important" makes it work... for some reason...*/
}

.badge.rounded-pill.bg-secondary:hover{
	background-color: rgba(255,255,255,0.5) !important; /*"!important" makes it work... for some reason... */
}

.bi-youtube{
	color: red;
	font-size: 2em;
}

.bi-twitter{
	color: rgb(29,161,242);
	font-size: 2em;
}

.bi-twitch{
	color: rgb(100,65,165);
	font-size: 2em;
}

.body-text{
	font-size: 1.25em;
	font-weight:bold;
	color: rgba(255, 255, 255, 0.7);
}

.container-fluid{
	width: 75%
}

/******************************************************************/

.twitch .twitch-video {
  padding-top: 56.25%;
  position: relative;
  height: 0;
}

.twitch .twitch-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.twitch .twitch-chat {
  height: 400px;
}

.twitch .twitch-chat iframe {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 850px) {
  .twitch {
    position: relative;
  }

  .twitch .twitch-video {
    width: 75%;
    padding-top: 42.1875%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}